In [75]:
import pandas as pd

# read CT accidental overdose data
deaths = pd.read_csv('data/Accidental_Drug_Related_Deaths_2012-2018.csv')

# convert date to datetime and extract year
deaths["Date"] = pd.to_datetime(deaths["Date"])
deaths["Year"] = (deaths.Date.dt.to_period('Y')).astype('str')

In [76]:
# deaths

In [77]:
counties = ('FAIRFIELD', 'HARTFORD', 'NEW HAVEN', 'NEW LONDON',
       'LITCHFIELD', 'MIDDLESEX', 'WINDHAM', 'TOLLAND')
years = ('2012', '2013', '2014', '2015', '2016', '2017', '2018')
deaths_county_and_year = []

for county in counties:
    
    residence_county = deaths[deaths["ResidenceCounty"] == county]
    death_county = deaths[deaths["DeathCounty"] == county]
    
    for year in years:
        
        deaths_county_and_year.append([
            county,
            year,
            len(residence_county[residence_county["Year"] == year]),
            len(death_county[death_county["Year"] == year])
        ])

deaths_county_and_year

[['FAIRFIELD', '2012', 50, 51],
 ['FAIRFIELD', '2013', 78, 94],
 ['FAIRFIELD', '2014', 0, 62],
 ['FAIRFIELD', '2015', 103, 102],
 ['FAIRFIELD', '2016', 158, 0],
 ['FAIRFIELD', '2017', 144, 163],
 ['FAIRFIELD', '2018', 147, 151],
 ['HARTFORD', '2012', 89, 101],
 ['HARTFORD', '2013', 114, 132],
 ['HARTFORD', '2014', 0, 118],
 ['HARTFORD', '2015', 182, 210],
 ['HARTFORD', '2016', 255, 0],
 ['HARTFORD', '2017', 283, 335],
 ['HARTFORD', '2018', 282, 337],
 ['NEW HAVEN', '2012', 85, 99],
 ['NEW HAVEN', '2013', 126, 134],
 ['NEW HAVEN', '2014', 0, 112],
 ['NEW HAVEN', '2015', 186, 210],
 ['NEW HAVEN', '2016', 230, 0],
 ['NEW HAVEN', '2017', 265, 285],
 ['NEW HAVEN', '2018', 235, 267],
 ['NEW LONDON', '2012', 42, 41],
 ['NEW LONDON', '2013', 50, 56],
 ['NEW LONDON', '2014', 0, 40],
 ['NEW LONDON', '2015', 59, 61],
 ['NEW LONDON', '2016', 85, 0],
 ['NEW LONDON', '2017', 82, 80],
 ['NEW LONDON', '2018', 88, 90],
 ['LITCHFIELD', '2012', 18, 17],
 ['LITCHFIELD', '2013', 35, 35],
 ['LITCHFIELD', '2014', 0, 26],
 ['LITCHFIELD', '2015', 51, 46],
 ['LITCHFIELD', '2016', 37, 0],
 ['LITCHFIELD', '2017', 53, 48],
 ['LITCHFIELD', '2018', 68, 65],
 ['MIDDLESEX', '2012', 20, 18],
 ['MIDDLESEX', '2013', 20, 17],
 ['MIDDLESEX', '2014', 0, 18],
 ['MIDDLESEX', '2015', 38, 39],
 ['MIDDLESEX', '2016', 35, 0],
 ['MIDDLESEX', '2017', 42, 45],
 ['MIDDLESEX', '2018', 51, 44],
 ['WINDHAM', '2012', 12, 14],
 ['WINDHAM', '2013', 11, 9],
 ['WINDHAM', '2014', 0, 14],
 ['WINDHAM', '2015', 26, 31],
 ['WINDHAM', '2016', 27, 0],
 ['WINDHAM', '2017', 40, 41],
 ['WINDHAM', '2018', 36, 33],
 ['TOLLAND', '2012', 11, 11],
 ['TOLLAND', '2013', 9, 10],
 ['TOLLAND', '2014', 0, 18],
 ['TOLLAND', '2015', 25, 20],
 ['TOLLAND', '2016', 30, 0],
 ['TOLLAND', '2017', 29, 28],
 ['TOLLAND', '2018', 32, 26]]

In [78]:
deaths_by_county = pd.DataFrame(deaths_county_and_year)
deaths_by_county.columns = ('Jurisdiction', 
        'Year',
        'ResidentDeaths',
        'DeathsInCounty'
                           )
deaths_by_county["Jurisdiction"] = deaths_by_county["Jurisdiction"].str.title()
deaths_by_county.to_csv('data/deaths_by_county.csv')

In [79]:
# deaths["DeathCounty"].unique()