In [35]:
import pandas as pd

# list of desired columns with year-by-year pop estimates
total_pop_columns = (
    "CTYNAME",
    "STNAME",
    "POPESTIMATE2010",
    "POPESTIMATE2011",
    "POPESTIMATE2012",
    "POPESTIMATE2013",
    "POPESTIMATE2014",
    "POPESTIMATE2015",
    "POPESTIMATE2016",
    "POPESTIMATE2017",
    "POPESTIMATE2018"
)
df = pd.read_csv('data/co-est2019-alldata.csv', usecols=total_pop_columns)

# find only CT counties, then drop STNAME column
df = df[df["STNAME"] == "Connecticut"]
df.drop(columns=["STNAME"], inplace=True)

# rename columns
df.columns = ("County","2010","2011","2012","2013","2014","2015","2016","2017","2018")

# strip county names and set as index
df["County"] = df["County"].str[:-7]
df.set_index("County", inplace=True)
df

,2010,2011,2012,2013,2014,2015,2016,2017,2018
County,,,,,,,,,
Conn,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520
Fairfield,919355,928000,935099,939924,944196,944943,944347,943038,943971
Hartford,895236,896864,897706,897678,897407,896290,894141,893076,892580
Litchfield,189763,188972,187570,186836,185343,184122,182793,181667,181095
Middlesex,165616,166174,165634,165329,164786,163724,163292,162942,162870
New Haven,863357,863871,864566,862820,862885,860186,857901,857748,856971
New London,274004,273037,274091,272976,271462,269636,268403,267419,266285
Tolland,153239,153050,151967,151778,151693,151734,151162,151009,150689
Windham,118544,118315,117914,117500,116752,116487,116102,116398,117059